<div>
    <label>Daily Confirmed</label>
<apx-chart
  [series]="seriesDailyConfirmed"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
</div>
<div>
    <label>Daily Deceased</label>
<apx-chart
  [series]="seriesDailyDeceased"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
</div>
<div>
    <label>Daily Recovered</label>
<apx-chart
  [series]="seriesDailyRecovered"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
</div>
<div>
    <label>Total Confirmed</label>
<apx-chart
  [series]="seriesTotalConfirmed"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
</div>
<div>
    <label>Total Deceased</label>
<apx-chart
  [series]="seriesTotalDeceased"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
</div>
<div>
    <label>Total Recovered</label>
<apx-chart
  [series]="seriesTotalRecovered"
  [chart]="chart"
  [dataLabels]="dataLabels"
  [markers]="markers"
  [title]="title"
  [fill]="fill"
  [yaxis]="yaxis"
  [xaxis]="xaxis"
  [tooltip]="tooltip"
  [autoUpdateSeries]="true"
></apx-chart>
</div>

